* {
  font-size: 13px;
  font-family: 'Arial';
}
 
td,
th,
tr,
table {
  border-collapse: collapse;
}
 
td.producto{
  font-size: 10px;
  font-family: 'Arial';
}
th.producto {
  font-size: 11px;
  width: 190px;
  max-width: 190px;
}
 
td.cantidad{
  font-size: 10px;
  text-align: center;
}
th.cantidad {
  font-size: 11px;
  width: 35px;
  max-width: 35px;
  word-break: break-all;
  text-align: center;
}
 
td.precio{
  text-align: right;
  font-size: 10px;
}
th.precio {
  font-size: 11px;
  width: 45px;
  max-width: 45px;
  word-break: break-all;
  text-align: center;
}
 
.centrado {
  text-align: center;
  align-content: center;
}
 
.ticket {
  width: 270px;
  max-width: 270px;
}
 
img {
  max-width: inherit;
  width: inherit;
}
@media print{
  .oculto-impresion, .oculto-impresion *{
    display: none !important;
  }
}